html{
     font-size: 62.5%;
}
body{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-size: 1.56rem;
     justify-content: center;
     background-color: #202124;
     color: #fff;
}
.container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     justify-items: center; 
     margin: auto;
     max-width: 550px;
}
.inner-box{
     width: 90%;
     margin: 0;
     margin-top:30px;
     border-radius: 25px;
}
.doodle-search{
     margin-top: 150px;
     width: fit-content;
     max-width: 500px;
     width: 90%;
}
.search-bar{
     border: 2px solid rgba(48,49,52,1);
     display: flex;
     height: 50px;
     padding:0 10px;
     border-radius: 25px;
     align-items: center;    
}
.search-icon{
     height: fit-content;

}
.search-input{
     width: 90%;
     background-color: transparent;
     border: none;
     padding: 10px;
     color: white;
     font-size: 2rem;
     &:focus{
          outline: none;
          border-bottom:0.5px solid rgb(121, 121, 124);
         
     }
}

.close-icon{
     display: none;
}
.suggesstion{
     width: 90%;
     gap: 10px;
     font-size: 2rem;
     align-items: center;
     flex-direction: row;
     display: none;
     padding: 0 10px ;
     &:hover{
          background-color: rgba(48,49,52,1);
          
     }
}
.doodle-shapes{
     position: absolute;
     bottom: 5px;
     right: 10px;
     z-index: -1;
}

@media (width<550px) {
     .suggesstion{
          font-size: 1.5rem;
     }

     
}
@media (width<400px) {
     .doodle-shapes{
          height: 260px;
     }
     
}

