*{
     margin: 0;
}
body{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     background-color:rgba(189, 189, 188, 0.763);
     justify-items: center;
     margin-top: 80px;
     height: 100vh;
}
.container{
     background:#ffffff;
     padding: 20px;
     border-radius: 20px;
     margin: 0 20px;
}
.title{
     font-size: 30px;
     font-weight: 700;
     display: flex;
     align-items: center;
     padding-bottom: 20px;
}
#title-heading2{
     font-size: 20px;
     font-weight: 100;
}
form{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 30px;
     
}
.field{
     display: flex;
     flex-direction: column;
     row-gap: 5px;
}
.field :first-child{
     padding-left: 2px;
     margin-top: 15px;
}
.field input{
     border-radius: 5px;
     border: 1px solid black;
     height: 35px;
     padding-left: 10px;
     font-size: 15px;
     border-color: black;

     
}
.field input:hover{
      border-color: black;
}
.field input:valid{
     border-color:blue;
}

 #address{
     grid-column-start: 1;
     grid-column-end: span 2;
}
#address textarea{
     border-radius: 5px;
     padding: 8px;
     font-size: 15px;
}
.field >select{
     height: 38px;
     border-radius: 5px;
     border: 1px solid black;
}

#cv-box{
     align-content: center;
}
form .submit{
     grid-column-start: 2;
     width: 100px;
     padding: 8px;
     border-radius: 10px;
     justify-self: end;
     margin-top: 20px;
     background-color:red;
     color: #ffffff;
     border: none;
     font-size: 18px;

     &:hover{
          background-color:blue;  
     }
}

@media screen {
     
}

@media (width<=600px) {
     form{
          display: flex;
          flex-direction: column;
     } 
}
@media (width<385px) {
     .container{
          width: 80vw;
     }
}



